site_name: TestPods
site_url: https://beta.testpods.org
site_description: Kubernetes-native testing for Java microservices
repo_url: https://github.com/testpods-org/testpods
repo_name: testpods-org/testpods

# docs_dir: website-docs
docs_dir: docs

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - tables
  - footnotes
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

plugins:
  - search

nav:
  - Home: index.md
  - Getting Started: getting-started.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/testpods-org/testpods
      name: TestPods on GitHub
  
  version:
    provider: mike
    default: latest

copyright: Copyright &copy; 2024 TestPods Project